@font-face {
  font-family: Ubuntu;
  src: url('../fonts/UbuntuMono/Ubuntu Mono derivative Powerline.ttf');
  font-weight: normal;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-Regular.otf');
  font-weight: normal;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-Bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-Light.otf');
  font-weight: lighter;
}
@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway/Raleway-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway/Raleway-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway/Raleway-Light.ttf');
  font-weight: lighter;
}
