@import "mixins.scss";
@import "colors.scss";

.box {
  background-color: $color-light-grey;
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  display: block;
  padding: 1.25rem;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid transparent;
}

.box:not(:last-child) {
  margin-bottom: 1.5rem;
}
