@import "mixins.scss";
@import "colors.scss";

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1.5px solid transparent;
  border-radius: 0;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1em;
  min-height: 1.5em;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 1.25;
  padding: calc(0.375em - 1px) calc(0.625em - 1px);
  position: relative;
  vertical-align: top;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: $color-dark-grey;
  user-select: none;
  background-color: $color-light-grey;
  cursor: pointer;
  border-color: #dbdbdb;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-family: Montserrat, BlinkMacSystemFont, -apple-system, "Helvetica", sans-serif;
}

.button:hover {
  border-color: $color-grey;
  color: $color-grey;
  background-color: $color-light-grey;
  text-decoration: none;
}

.button:focus {
  border-color: $color-dark-blue-grey;
  color: $color-grey;
  text-decoration: none;
}

.button:active {
  border-color: $color-grey;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
  color: $color-grey;
  text-decoration: none;
}

.button-link {
  background-color: transparent;
  border-color: transparent;
  color: $color-grey;
  text-decoration: underline;
}

.button-link:active,
.button-link:focus,
.button-link:hover {
  border-color: transparent;
  background-color: $color-light-grey;
  text-decoration: none;
  color: $color-grey;
}

.button-black {
  @include color-bg($color-black, $color-white);

  &:hover {
    @include color-bg($color-dark-grey, $color-light-grey);
  }
}

.button-white {
  @include color-bg($color-white, $color-black);

  &:hover {
    @include color-bg($color-lighten-grey, $color-black);
  }
}

.button-grey {
  @include color-bg($color-grey, $color-light-grey);

  &:hover {
    @include color-bg($color-light-blue-grey, $color-black);
  }
}

.button-red {
  @include color-bg($color-red, $color-white);

  &:hover {
    @include color-bg($color-dark-red, $color-white);
  }
}

.button-cyan {
  @include color-bg($color-cyan, $color-white);

  &:hover {
    @include color-bg($color-dark-cyan, $color-white);
  }
}

.button-blue {
  @include color-bg($color-blue, $color-white);

  &:hover {
    @include color-bg($color-dark-blue, $color-white);
  }
}

.button-green {
  @include color-bg($color-green, $color-white);

  &:hover {
    @include color-bg($color-dark-green, $color-white);
  }
}

.button-pink {
  @include color-bg($color-pink, $color-white);

  &:hover {
    @include color-bg($color-dark-pink, $color-white);
  }
}
