$color-black: #090909;
$color-dark-grey: #121212;
$color-grey: #424242;
$color-white: #fff;
$color-light-grey: #f0f0f0;
$color-lighten-grey: #bdbdbd;
$color-dark-blue-grey: #263238;
$color-blue-grey: #607d8b;
$color-light-blue-grey: #b0bec5;
$color-light-blue: #81d4fa;
$color-blue: #2196f3;
$color-dark-blue: #01579b;
$color-dark-cyan: #00838f;
$color-cyan: #00bcd4;
$color-light-cyan: #80deea;
$color-red: #f44336;
$color-dark-red: #b71c1c;
$color-light-red: #ef9a9a;
$color-green: #4caf50;
$color-dark-green: #1b5e20;
$color-light-green: #a5d6a7;
$color-brown: #795548;
$color-dark-brown: #3e2723;
$color-light-brown: #bcaaa4;
$color-orange: #ff9800;
$color-dark-orange: #e65100;
$color-light-orange: #ffcc80;
$color-pink: #e91e63;
$color-dark-pink: #880e4f;
$color-light-pink: #f48fb1;
$color-purple: #9c27b0;
$color-light-purple: #ce93d8;
$color-dark-purple: #4a148c;
$color-yellow: #ffeb3b;
$color-light-yellow: #fff59d;
$color-dark-yellow: #f9a825;
$color-teal: #009688;
$color-light-teal: #80cbc4;
$color-dark-teal: #004d40;
$color-amber: #ffc107;
$color-light-amber: #ffe082;
$color-dark-amber: #ffa000;
$color-indigo: #3f51b5;
$color-light-indigo: #ffcdd2;
$color-dark-indigo: #1a237e;
