@import "colors.scss";

.segment {
  padding: 0.5em 1em;
  margin-bottom: 20px;
  list-style: none;
  background-color: none;
  border-radius: 0;
}
.segment > li {
  display: inline-block;
}
.segment > li + li:before {
  padding: 0 5px;
  color: $color-dark-grey;
  content: "/";
}
.segment > .active {
  color: $color-blue-grey;
}
