@import "mixins.scss";
@import "colors.scss";

.sticker {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: $color-light-grey;
  border-radius: 2em;
  color: $color-lighten-grey;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.875em;
  padding-right: 0.875em;
  white-space: nowrap;
}

.sticker-black {
  @include color-bg($color-black, $color-white);
}

.sticker-white {
  @include color-bg($color-white, $color-black);
}

.sticker-grey {
  @include color-bg($color-grey, $color-light-grey);
}

.sticker-red {
  @include color-bg($color-red, $color-white);
}

.sticker-cyan {
  @include color-bg($color-cyan, $color-white);
}

.sticker-blue {
  @include color-bg($color-blue, $color-white);
}

.sticker-green {
  @include color-bg($color-green, $color-white);
}

.sticker-pink {
  @include color-bg($color-pink, $color-white);
}
